{% extends "base.html" %}

{% block contenidos%}

<div class="container-fluid bg-dark text-white">

  <div class="text-center  ">
    <h1>Bienvenido a la App de los perros</h1>
  </div>


  <div class="text-center">
    <h2>¿Para que puede servir la aplicacion?</h2>
  </div>

  <p>DoggApp es una aplicación web desarrollada con Flask que permite consultar información básica de distintas razas de perros.
El usuario puede buscar una raza mediante un formulario y la aplicación obtiene los datos desde una API externa, mostrando la información de forma dinámica en pantalla.</p>

 <div class="text-center">
  <img 
    src="{{ url_for('static', filename='WhatsApp Image 2026-02-01 at 2.58.46 AM.jpeg') }}" 
    class="img-fluid rounded w-25"
    alt="Perro"
  >
</div>
</div>
  {% endblock %}
  